* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main {
    background-image: url('images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    height: 100vh;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
.header-button {
    background-color: white;
    box-shadow: 0 0px 7px 1px lightgrey;
    border-radius: 26px;
    text-align: center;
}
.header-button button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    height: 40px;
    padding: 13px 35px;
    cursor: pointer;
}.header-button button a {
    text-decoration: none;
    color: hsl(192, 100%, 9%);
}
.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.intro-content {
    width: 45%;
    margin-right: 45px;
}
.intro-heading {
    margin-bottom:  33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.intro-text {
    margin-bottom:  33px;
}
.intro-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0.5px 0.5px 4px 2px lightgrey;
    border-radius: 26px;
    text-align: center;
    width: 36%;
}
.intro-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
}
.mockups {
    width: 45%;
    margin-left: 45px;
}
.mockups img {
    width: 100%;
}
.cards {
    margin: 70px 0;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
}
.card-1, .card-2, .card-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 1px 1px 7px 2px lightgray;
    margin: 43px 0;
    border-radius: 13px;
}
.card-content {
    width: 50%;
    margin-right: 30px;
}
.card-img {
    width: 50%;
    margin-left: 30px;
}
.cards img {
    max-width: 100%;
}
.card-heading {
    margin-bottom: 33px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.card-text {
    color: hsl(208, 11%, 55%);
}
.floater-card {
    position: absolute;
    bottom: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    border-radius: 13px;
    box-shadow: 0px 0px 2px 1px lightgrey;
}
.float-head {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.float-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0.5px 0.5px 4px 2px lightgrey;
    border-radius: 29px;
    text-align: center;
    width: 80%;
}
.float-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 60px;
    cursor: pointer;
    width: 100%;
}
footer {
    background-color: hsl(192, 100%, 9%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: azure;
    position: relative;
}
.footer-1 .logo {
    margin: 26px 0;
}
.footer-1 svg, img {
    margin-right: 40px;
}
.footer-1 img {
    margin-top: 15px;
    align-self: flex-start;
}
.footer-1 .email, .phone, .location {
    display: flex;
    margin: 20px 0;
    align-items: center;
    
}
.footer-1 {
    width: 35%;
}
.footer-4 {
    width: 25%;
    padding-top: 60px;
}
footer a {
    text-decoration: none;
    color: azure;
}
.underline:hover, .underline:focus {
    text-decoration: underline;
}
.footer-2, .footer-3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 79px;
    padding-left: 50px;
}
.footer-2 {
    margin-left: 40px;
}
.footer-2 a {
    margin-bottom: 30px;
}
.footer-3 a {
    margin-bottom: 30px;
}
.footer-4 p {
    margin-bottom: 50px;
}
.footer-4 .social {
    margin-top: 160px;
    margin-bottom: 180px;
}
.footer-4 .ionicon {
    fill: azure;
    width: 25px;
}
.ionicon:hover {
    fill: hsl(322, 100%, 66%);
}
.glow-button:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition-delay: 0s;
}
