* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main {
    background-image: url('images/bg-hero-mobile.svg');
    background-color: hsl(193, 100%, 96%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    height: 100vh;
}