* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main {
    background-image: url('images/bg-hero-mobile.svg');
    background-color: hsl(193, 100%, 96%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    height: 100vh;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
.header-button {
    background-color: white;
    box-shadow: 0 1px 1px 1px hsl(154, 78%, 36%);
    border-radius: 16px;
    text-align: center;
}
.header-button button {
    background-color: transparent;
    border: none;
    color: hsl(192, 100%, 9%);
    font-weight: 500;
    height: 40px;
    padding: 11px 35px;
    cursor: pointer;
}
.intro-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 80%;
}
.intro-content {
    width: 50%;
    margin-right: 30px;
}
.intro-heading {
    margin-bottom:  33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.intro-text {
    margin-bottom:  33px;
}
.intro-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 1px 1px 1px hsl(154, 78%, 36%);
    border-radius: 16px;
    text-align: center;
    width: 36%;
}
.intro-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
}
.mockups {
    width: 50%;
    margin-left: 30px;
}
.mockups img {
    max-width: 100%;
}
.cards {
    margin: 70px 0;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
}
.card-1, .card-2, .card-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 1px 2px 3px 1px hsl(208, 11%, 55%);
    margin: 43px 0;
}
.card-content {
    width: 50%;
    margin-right: 30px;
}
.card-img {
    width: 50%;
    margin-left: 30px;
}
.cards img {
    max-width: 100%;
}
.card-heading {
    margin-bottom: 33px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.floater-card {
    position: absolute;
    bottom: 720px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    box-shadow: 1px 2px 3px 1px hsl(208, 11%, 55%);
}
.float-head {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.float-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 1px 1px 1px hsl(154, 78%, 36%);
    border-radius: 29px;
    text-align: center;
    width: 80%;
}
.float-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 60px;
    cursor: pointer;
    width: 100%;
}
footer {
    background-color: hsl(192, 100%, 9%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    
    
}
.footer-1 .logo {
    margin: 26px;
}
.footer-1 p {
    margin: 12px 0;
}
.footer-1 {
    width: 40%;
}
.footer-4 {
    width: 30%;
    padding: 50px;
}
footer a {
    text-decoration: none;
    color: white;
}
.footer-2, .footer-3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.footer-2 {
    margin-left: 70px;
}
.footer-4 p {
    margin-bottom: 50px;
}
.footer-4 .social {
    margin-top: 180px;
    margin-bottom: 180px;
}
.footer-4 .ionicon {
    fill: azure;
    width: 25px;
}