* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main {
    background-image: url('images/bg-hero-mobile.svg');
    background-color: hsl(193, 100%, 96%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.logo img {
    width: 50%;
}
.header-button {
    background-color: white;
    box-shadow: 0 0px 7px 1px lightgrey;
    border-radius: 16px;
    padding: 3px 9px;
    width: 40%;
}
.header-button button {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
}
.header-button button a {
    text-decoration: none;
    color: hsl(192, 100%, 9%);
}
.intro-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 20px 40px 20px;
}
.intro-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.intro-heading {
    margin-bottom:  20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.intro-text {
    margin-bottom:  33px;
}
.intro-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0.5px 0.5px 4px 2px lightgrey;
    border-radius: 26px;
    text-align: center;
    width: 75%;
}
.intro-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
}
.mockups {
    width: 100%;
}
.mockups img {
    max-width: 100%;
}
.cards {
    margin: 70px 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 200px;
    text-align: center;
}
.card-1, .card-2, .card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    box-shadow: 1px 1px 7px 2px lightgray;
    margin: 43px 0;
    border-radius: 13px;
}
.card-1 .card-img {
    order: 1;
}
.card-1 .card-content {
    order: 2;
}
.card-3 .card-img {
    order: 1;
}
.card-3 .card-content {
    order: 2;
}
.card-content {
    width: 100%;
}
.card-img {
    width: 100%;
}
.cards img {
    max-width: 100%;
    margin-bottom: 33px;
    margin-top: 20px;
}
.card-heading {
    margin-bottom: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.card-text {
    color: hsl(208, 11%, 55%);
    margin-bottom: 33px;
}
.floater-card {
    position: absolute;
    width: 92%;
    bottom: 820px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0px 0px 2px 1px lightgrey;
    padding-top: 40px;
}
.float-head {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.float-button {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0.5px 0.5px 4px 2px lightgrey;
    border-radius: 29px;
    text-align: center;
    width: 70%;
    margin-bottom: 35px;
}
.float-button button {
    background-color: transparent;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 100%;
}
footer {
    background-color: hsl(192, 100%, 9%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    position: relative;
}
.footer-1 .logo {
    margin: 26px 0;
}
.footer-1 svg, img {
    margin-right: 40px;
}
.footer-1 img {
    margin-top: 15px;
    align-self: flex-start;
}
.footer-1 .email, .phone, .location {
    display: flex;
    margin: 20px 0;
    align-items: center;
    
}
.footer-4 {
    padding-top: 10px;
}
footer a {
    text-decoration: none;
    color: azure;
}
.underline:hover, .underline:focus {
    text-decoration: underline;
}
.footer-2, .footer-3 {
    display: flex;
    flex-direction: column;
}
.footer-2 a {
    margin-bottom: 30px;
    align-self: ;
}
.footer-3 a {
    margin-bottom: 30px;
    left: 0px;
}
.footer-4 p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
}
.footer-4 .social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-4 .ionicon {
    fill: azure;
    width: 25px;
    margin: 0 10px;
}
.ionicon:hover {
    fill: hsl(322, 100%, 66%);
}
.glow-button:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition-delay: 0s;
}